

.th {
  border-bottom-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-collapse: separate;
  border-spacing: 0;
  height: 1rem;
  padding: 5px;
  font-weight: bold;
  text-align: left;
  color: rgba(0,0,0,0.7)
}

.td {
  border-bottom-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-collapse: separate;
  border-spacing: 0;
  height: 1rem;
  padding: 5px;
}

.table {
  width: 100%;
  padding: 20px;
}

.wrap {
  border-style: solid;
  border-color: rgb(0,0,0,0.2);
  border-radius: 10px;
  max-height: 300px;
  overflow: auto;
  background-color: rgb(253 253 253);
  margin: 10px 0;
}